:root {
    --light_1: #FAFAFA;
    --light_2: #EEEEEE;
    --dark_2:  #616161;
    --dark_1:  #333333;

    --attn:    #b8bb26;
}

* {
    font-family: monospace;
}

body {
    background-color: var(--dark_1);
    color: var(--light_1);
}

footer {
    position: fixed;
    background-color: var(--dark_2);
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 1px solid var(--light_2);
    color: var(--light_1);
}

a, a:visited {
    color: var(--light);
}

.resume_link {
    color: var(--attn) !important;
    font-weight: bold;
}
