:root {
    --light_1: #d3c6aa;
    --light_2: #d3c6aa;
    --dark_2:  #4b565c;
    --dark_1:  #2d353b;

    --attn:    #a7c080;
}

* {
    font-family: monospace;
}

body {
    background-color: var(--dark_1);
    color: var(--light_1);
}

footer {
    position: fixed;
    background-color: var(--dark_2);
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 1px solid var(--light_2);
    color: var(--light_1);
}

a, a:visited {
    color: var(--light_1);
}

.important_link {
    color: var(--attn) !important;
    font-weight: bold;
}
